@media screen and (min-width: 992px){
  .Home{
    height: 100%;
    background-color: black;
    .HomeImg{
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 60%;
      padding-top: 3%;
      .LeftImg{
        width: 20%;
        .TopImg{
          height: 45%;
          background-image: url('../assets/imgTattoo/7.webp');
          background-position: 50% 70%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .BottomImg{
          height: 55%;
          background-image: url('../assets/imgTattoo/8.webp');
          background-position: 50% 0%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .RightImg{
        width: 30%;
        background-image: url('../assets/imgBrother/mybrother6.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    
    .ImgBox{
      display: flex;
      flex-direction: row;
      height: 20%;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 10%;
      .Box1{
        height: 100%;
        width: 20%;
        margin-right: 5%;
        background-image: url('../assets/imgTattoo/1.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .Box2{
        height: 100%;
        width: 20%;
        margin-right: 5%;
        background-image: url('../assets/imgTattoo/3.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .Box3{
        height: 100%;
        width: 20%;
        margin-right: 5%;
        background-image: url('../assets/imgTattoo/6.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .HomeEnd{
      display: flex;
      height: 14%;
      justify-content: center;
      align-items: center;
      .HomeLine{
        height: 2px;
        width: 40%;
        background-color: rgb(172, 169, 169);
      }
    }
  }
}



@media screen and (max-width:768px){
  .Home{
    height: 100%;
    background-color: black;
    .HomeImg{
      display: flex;
      flex-direction: row;
      height: 65%;
      .LeftImg{
        width: 45%;
        .TopImg{
          height: 45%;
          background-image: url('../assets/imgTattoo/7.webp');
          background-position: 50% 70%;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .BottomImg{
          height: 55%;
          background-image: url('../assets/imgTattoo/8.webp');
          background-position: 50% 0%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .RightImg{
        width: 55%;
        background-image: url('../assets/imgBrother/mybrother6.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
    }

    
    .ImgBox{
      margin-top: 10%;
      display: flex;
      flex-direction: row;
      height: 20%;
      align-items: center;
      justify-content: space-evenly;

      .Box1{
        height: 100%;
        width: 28%;
        background-image: url('../assets/imgTattoo/1.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .Box2{
        height: 100%;
        width: 28%;
        background-image: url('../assets/imgTattoo/3.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .Box3{
        height: 100%;
        width: 28%;
        background-image: url('../assets/imgTattoo/6.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .HomeEnd{
      display: flex;
      height: 9%;
      justify-content: center;
      align-items: center;
      .HomeLine{
      margin-top: 20%;
      height: 2px;
      width: 40%;
      background-color: rgb(172, 169, 169);
      }
    }
  }
}