@media screen and (min-width: 992px){
  .Contact{
    height: 100%;
    background-color: black;
    color: white;
    .ContactText{
      height: 5%;
      margin-bottom: 5%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 300%;
      font-family: 'Kaushan Script', cursive;
    }
    .MapAndInfor{
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .Map{
        width: 40%;
        height: 100%;
        background-color: gray;
        .gg_map{
          height: 100%;
          width: 100%;
        }
      }
      .Infor{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        .Location{
          height: 50%;
          display: flex;
          flex-direction: column;
          text-align: left;
          .LocationTitle{
            font-size: 130%;
            color: rgb(246, 246, 156);
          }
        }
        .StudioHour{
          height: 50%;
          display: flex;
          flex-direction: column;
          text-align: left;
          .StudioHourTitle{
            font-size: 130%;
            color: rgb(246, 246, 156);
          }
        }
      }
    }
    .ContactEnd{
      display: flex;
      height: 10%;
      justify-content: center;
      align-items: center;
      .ContactLine{
        margin-top: 10%;
      height: 2px;
      width: 40%;
      background-color: rgb(172, 169, 169);
      }
    }
  }
}
@media screen and (max-width: 768px){
  .Contact{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../assets/bg/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .PricingText{
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      .Pricing{
        color: white;
        font-family: "clesmont";
        font-size: 130%;
      }
    }
    .PricingTable{
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .Minimum{
        height: 70%;
        width: 30%;
        background-color: rgb(190, 189, 189);
        .MinimumText{
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(141, 1, 1);
          font-family: "CompagnonMedium";
          height: 30%;
          text-align: center;
          border-bottom: 2px solid rgb(243, 131, 131);
          font-size: 120%;
        }
        .MinimumPrice{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 5%;
          height: 70%;
          font-family: "CompagnonMedium";
          font-size: 50%;
          text-align: center;
          color: white;
          
        }
      }
      .Middle{
        height: 70%;
        width: 30%;
        background-color: rgb(161, 159, 159);
        .MiddleText{
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(141, 1, 1);
          font-family: "CompagnonMedium";
          height: 30%;
          text-align: center;
          border-bottom: 2px solid red;
          font-size: 120%;
        }
        .MiddlePrice{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70%;
          font-family: "CompagnonMedium";
          font-size: 50%;
          text-align: center;
          color: white;
        }
      }
      .High{
        height: 70%;
        width: 30%;
        background-color: rgb(121, 120, 120);
        .HighText{
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(141, 1, 1);
          font-family: "CompagnonMedium";
          height: 30%;
          text-align: center;
          border-bottom: 2px solid rgb(153, 1, 1);
          font-size: 120%;
        }
        .HighPrice{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 70%;
          font-family: "CompagnonMedium";
          font-size: 50%;
          color: white;
        }
      }
    }
    .ContactText{
      width: 100%;
      font-size: 200%;
      font-family: "clesmont";
      color: rgb(163, 1, 1);
      text-align: center;
    }

    .ContactInfo{
       width: 100%;
        height: 40%;

      .ContactInfoList{
        width: 100%;
        height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10%;
      margin-left: 3%;
      .AddressInfo{
        width: 50%;
        height: 10%;
        display: flex;
        justify-content: space-between;
          .AddressIcon{
            font-size: 160%;
            color: rgb(244, 10, 10);
            padding-top: 3%;
            margin-right: 5%;
          }
        
        .AddressText{
          color: white;
          font-family: "CompagnonMedium";
          font-size: 80%;
        }
      }
      .EmailInfo{
        margin-top: 3%;
        width: 60%;
        height: 10%;
        display: flex;
        flex-direction: row;
       
          .EmailIcon{
            font-size: 130%;
            margin-right: 3%;
            color: rgb(244, 10, 10);
          }
        
        .EmailText{
          color: white;
          font-family: "CompagnonMedium";
          font-size: 80%;
        }
      }
      .PhoneInfo{
        width: 60%;
        height: 10%;
        display: flex;
        flex-direction: row;
       
          .PhoneIcon{
            font-size: 130%;

            color: rgb(244, 10, 10);
          }
        
        .PhoneText{
          color: white;
          font-family: "CompagnonMedium";
          font-size: 80%;
        }
      }
      .TimeInfo{
        width: 60%;
        height: 10%;
        display: flex;
        flex-direction: row;
        
          .TimeIcon{
            font-size: 130%;
            margin-right: 4%;
            color: rgb(244, 10, 10);
          }
        
        .TimeText{
          color: white;
          font-family: "CompagnonMedium";
          font-size: 80%;
        }
      }
      .WebInfo{
        width: 60%;
        height: 10%;
        display: flex;
        flex-direction: row;
       
          .WebIcon{
            font-size: 130%;
            margin-right: 4%;
            color: rgb(244, 10, 10);
          }
        
        .WebText{
          color: white;
          font-family: "CompagnonMedium";
          font-size: 80%;
        }
      }
      }
      .ContactGoogleMap
      {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 485%;
        right: -57%;
        .GoogleMap{
          width: 40%;
          height: 20%;
          pointer-events: all;
          border: none;
        }
        .LogoMap{
          width: 40%;
          background-color: rgb(248, 71, 71);
        }
      }
    }
  }
}