@media screen and (min-width: 992px){
  .Artist{
   
  }
}

@media screen and (max-width: 768px){
  .Artist{
    height: 100%;
    background-image: url('../assets/bg/bgline.jpg');
    background-position: 30% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .ArtistText{
      color: red;
      font-size: 150%;
      font-family: "clesmont";
      padding-top: 5%;
      padding-left: 5%;
    }
    .Brother{
      width: 40%;
      height: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 335%;
      left: 6%;
      .BrotherImg{
        width: 100%;
        height: 85%;
        background-image: url('../assets/imgBrother/Minh.jpeg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .BrotherName{
       .BrName{
        float: right;
        color: red;
        font-family: "clesmont";
        font-size: 130%;
       }
      }
      .BrotherPorfolio{
        .BrPorfolio{
          margin-top: 5%;
          text-align: center;
          width: 63%;
          background-color: rgb(185, 78, 78);
          float: left;
          color: black;
          font-family: "CompagnonMedium";
          font-size: 70%;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .Aaron{
      width: 40%;
      height: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 355%;
      right: 6%;
      .AaronImg{
        width: 100%;
        height: 85%;
        background-image: url('../assets/AARON/Aaron.jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .AaronName{
       .AaronName{
        float: right;
        color: red;
        font-family: "clesmont";
        font-size: 130%;
       }
      }
      .AaronPorfolio{
        .AaronPorfolio{
          margin-top: 5%;
          text-align: center;
          width: 63%;
          background-color: rgb(185, 78, 78);
          float: right;
          color: black;
          font-family: "CompagnonMedium";
          font-size: 70%;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .Anet{
      width: 40%;
      height: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 375%;
      left: 6%;
      .AnetImg{
        width: 100%;
        height: 85%;
        background-image: url('../assets/Anet/Anet.jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .AnetName{
       .AnetName{
        float: right;
        color: red;
        font-family: "clesmont";
        font-size: 130%;
       }
      }
      .AnetPorfolio{
        .AnetPorfolio{
          margin-top: 5%;
          text-align: center;
          width: 63%;
          background-color: rgb(185, 78, 78);
          float: left;
          color: black;
          font-family: "CompagnonMedium";
          font-size: 70%;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .Nicole{
      width: 40%;
      height: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 395%;
      right: 6%;
      .NicoleImg{
        width: 100%;
        height: 85%;
        background-image: url('../assets/Nicole/Nicole.JPG');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .NicoleName{
       .NicoleName{
        float: right;
        color: red;
        font-family: "clesmont";
        font-size: 130%;
       }
      }
      .NicolePorfolio{
        .NicolePorfolio{
          margin-top: 5%;
          text-align: center;
          width: 63%;
          background-color: rgb(185, 78, 78);
          float: right;
          color: black;
          font-family: "CompagnonMedium";
          font-size: 70%;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
    .Benjamin{
      width: 40%;
      height: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 410%;
      left: 6%;
      .BenjaminImg{
        width: 100%;
        height: 85%;
        background-image: url('../assets/Benjamin/Ben.JPG');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .BenjaminName{
       .BenjaminName{
        float: right;
        color: red;
        font-family: "clesmont";
        font-size: 130%;
       }
      }
      .BenjaminPorfolio{
        .BenjaminPorfolio{
          margin-top: 5%;
          text-align: center;
          width: 63%;
          background-color: rgb(185, 78, 78);
          float: left;
          color: black;
          font-family: "CompagnonMedium";
          font-size: 70%;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}