
@media screen and (min-width: 992px){
  .Header{
    height: 100%;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0.062)),url('../assets/bg/bg.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 150%;
    
  }
 
  .Pages{
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 4%;
    .Page{
      font-family: 'Noto Sans Multani', sans-serif;
      margin-left: 3%;
      margin-right: 3%;
      font-weight: bold;
      font-size: 100%;
      font-family: "BioRhymeExpandedLight";
    }&:hover{
      cursor: pointer;
    }
  }
  .TattooStu{
    height: 80%;
    font-size: 600%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ramelik";
  }
  
}


@media screen and (max-width:768px){
  .Header{
    height: 100%;
    color: white;
    background-image: linear-gradient(rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0.062)),url('../assets/bg/bg.jpg');
    
  }
  .Pages{
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 7%;
    .Page{
      font-family: 'Noto Sans Multani', sans-serif;
      margin-left: 3%;
      margin-right: 3%;
      font-weight: bold;
      font-size: 50%;
      font-family: "BioRhymeExpandedLight";
    }&:hover{
      cursor: pointer;
    }
  }
  .TattooStu{
    height: 80%;
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ramelik";
  }
  
}