@media screen and (min-width: 992px){
  .Header{
    height: 100%;
    color: white;
    background-color: black;
  }
  .Wellcome_PageName{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lisu Bosa', serif;
    .Wellcome{
      padding-top: 4%;
      padding-bottom: 1%;
      font-size: 200%;
    }
    .PageName{
      padding-bottom: 2%;
      font-size: 250%;
    }
  }
  .Pages{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    margin-top: 3%;
    .Page{
      margin-left: 7%;
      margin-right: 7%;
      font-size: 180%;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .TattooStu{
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', cursive;
    font-size: 150%;
  }
  
}


@media screen and (max-width:768px){
  .Header{
    height: 100%;
    color: white;
    background-color: black;
    
  }
  .Wellcome_PageName{
    height: 78%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: 'Lisu Bosa', serif;
    background-image: url('../assets/bg/bg1.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(163, 163, 163);
    .Wellcome{
      padding-top: 3%;
      padding-bottom: 2%;
    }
    .PageName{
      padding-bottom: 2%;
      font-size: 150%;
    }
  }
  .Pages{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: gray;

    .Page{
      font-family: 'Noto Sans Multani', sans-serif;
      margin-left: 5%;
      margin-right: 5%;
    }&:hover{
      cursor: pointer;
    }
  }
  .TattooStu{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kalam', cursive;
  }
  
}