@media screen and (min-width: 992px){
  .FAQ{
    background-image: url('../assets/bg/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 5%;
    .FAQText{
      display: flex;
      justify-content: right;
      font-size: 200%;

      margin-right: 17%;
      color: #CC0000;
      font-family: "clesmont";
    }
    .FAQQues{
      display: flex;
      justify-content: right;
      font-size: 100%;
      margin-bottom: 4%;
      margin-right: 17%;
      color: white;
      font-family: "CompagnonMedium";
    }
      .FAQQuesAndAns {
        text-align: center;
        .question-section {
          margin-top: 2%;
          background: transparent;
          border: none;
          cursor: pointer;
          width: 67%;
          .question-align {
            align-items: center;
            display: flex;
            max-height: 500px;
            text-align: left;

            background-color:#b50404b4;
            h4 {
              margin-left: 2%;
            }
            .question-style{
              color:white;
              font-family: "CompagnonMedium";
              font-size: 120%;
              width: 80%;

            }
            .question-icon {
              background: none;
              border: none;
              color: white;
              cursor: pointer;
              font-size: 150%;
              margin-left: auto;
              margin-right: 1%;
            }
            .rotate {
              transform: rotate(45deg);
            }
          }
          .answer {

            width: 95%;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.6s ease;
            text-align: left;
            color:white;
            font-size: 120%;
            background-color: rgba(156, 155, 155, 0.449);
            position: relative; 
            right:-5%;
            font-family: "CompagnonMedium";
            p{
              margin-left: 3%;
            }
          }
        }
      }
      
  }
}
@media screen and (max-width: 768px){
  .FAQ{
    background-image: url('../assets/bg/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-top: 10%;
    .FAQText{
      display: flex;
      justify-content: right;
      font-size: 110%;

      margin-right: 5%;
      color: #CC0000;
      font-family: "clesmont";
    }
    .FAQQues{
      display: flex;
      justify-content: right;
      font-size: 46%;
      margin-bottom: 10%;
      margin-right: 5%;
      color: white;
      font-family: "CompagnonMedium";
    }
      .FAQQuesAndAns {
        margin-top: 10%;
        text-align: center;
        .question-section {
          margin-top: 5%;
          background: transparent;
          border: none;
          cursor: pointer;
          width: 95%;
          .question-align {
            align-items: center;
            display: flex;
            max-height: 30px;
            text-align: left;

            background-color:#B50404;
            h4 {
              margin-left: 2%;
            }
            .question-style{
              color:white;
              font-family: "CompagnonMedium";
              font-size: 80%;
              width: 80%;

            }
            .question-icon {
              background: none;
              border: none;
              color: white;
              cursor: pointer;
              font-size: 150%;
              margin-left: auto;
              margin-right: 1%;
            }
            .rotate {
              transform: rotate(45deg);
            }
          }
          .answer {

            width: 95%;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.6s ease;
            text-align: left;
            color:white;
            font-size: 70%;
            background-color: rgba(156, 155, 155, 0.449);
            position: relative; 
            right:-5%;
            font-family: "CompagnonMedium";
            p{
              margin-left: 3%;
            }
          }
        }
      }
      
  }
}
