body {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 992px){
  .MainPage{
    height: 100vh;
    width: 100vw;
  }
  .MP_Header{
    height: 30%;
  }
  .MP_Home{
    height: 200%;
  }
  .MP_Artist{
    height: 130%;
  }
  .MP_About{
    height: 150%;
  }
  .MP_Contact{
    height: 70%;
  }
}

@media screen and (max-width: 768px){
  .MainPage{
    height: 100vh;
    width: 100vw;
  }
  .MP_Header{
    height: 20%;
  }
  .MP_Home{
    height: 80%;
  }

  .MP_Artist{
    height: 50%;
  }
  .MP_About{
    height: 100%;
  }
  .MP_Contact{
    height: 60%;
  }
}