body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Ramelik";
  src: local("Ramelik"),url("../../Components/assets/font/Ramelik.otf") format("truetype");
}

@font-face {
  font-family: "BioRhymeExpandedLight";
  src:local("BioRhymeExpandedLight"),url("../../Components/assets/font/BioRhymeExpanded-Light.otf") format("truetype");
}

@font-face {
  font-family: "BioRhymeExpandedBold";
  src:local("BioRhymeExpandedBold"),url("../../Components/assets/font/BioRhymeExpanded-Bold.otf") format("truetype");
}


@font-face {
  font-family: "CompagnonMedium";
  src:local("CompagnonMedium") ,url("../../Components/assets/font/Compagnon-Medium.otf") format("truetype");
}

@font-face {
  font-family: "CompagnonRoman";
  src:local("CompagnonRoman") ,url("../../Components/assets/font/Compagnon-Roman.otf") format("truetype");
}

@font-face {
  font-family: "clesmont";
  src: local("clesmont") ,url("../../Components/assets/font/clesmont.ttf") format("truetype");
}

@font-face {
  font-family: "LucidaSansTypewriterOblique";
  src: local("LucidaSansTypewriterOblique"),url("../../Components/assets/font/Lucida-Sans-Typewriter-Oblique.ttf") format("truetype");
}
@font-face {
  font-family: "LucidaSansTypewriterBoldOblique";
  src: local("LucidaSansTypewriterBoldOblique"),url("../../Components/assets/font/Lucida-Sans-Typewriter-Bold-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "CopperplateGothicBold";
  src: local("CopperplateGothicBold"),url("../../Components/assets/font/CopperplateGothicBold.ttf") format("truetype");
}


@media screen and (min-width: 992px){
  .MainPage{

  }
  .MP_CommingSoon{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .CommingSoonText{
      color: white;
      font-size: 70%;
      font-family: "CompagnonMedium";
    }
  }
  .MP_Header{
    height: 35vh;

  }
  .MP_Home{
    height: 320vh;

  }
  .MP_Artist{
    height: 250vh;
  }
  .MP_About{
    height: 150vh;
  }
  .MP_Service{

    height: 90vh;
  }
  .MP_Img{
    height: 50vh;
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../Components/assets/bg/banner.webp');
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
  .MP_Contact{
    height: 180vh;
  }
  .MP_FAQ{
    height: 130vh;
  }
}

@media screen and (max-width: 768px){
  .MainPage{

  }
  .MP_CommingSoon{

    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .CommingSoonText{
      color: white;
      font-size: 50%;
      font-family: "CompagnonMedium";
    }
  }
  .MP_Header{

    height: 20vh;
  }
  .MP_Home{

    height: 180vh;
  }
  .MP_Service{

    height: 50vh;
  }
  .MP_Img{
  height: 15vh;
  background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../Components/assets/bg/banner.webp');
  background-position: 70% 80%;
  background-repeat: no-repeat;
  background-size: 110%;
  
  }
  .MP_Artist{
    height: 140vh;
  }
  .MP_Contact{
    height: 125vh;
  }
  .MP_FAQ{
    height: 95vh;
  }
}